doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Funding!
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/mobile.css', media='screen and (max-width : 568px)')
    script(src='https://code.jquery.com/jquery-3.4.0.min.js')
    script(type='text/javascript', src='/javascripts/mobile.js')
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
  body
    #header
      .usrInfo
        ul
          li
            a.login(href='login') 로그인
          li
            a.register(href='register') 회원가입
          li
            a.logout(href='/') 로그아웃
          li
            a.list(href='fundingList') 투자관리
          li
            a.project(href='project') 프로젝트관리
      a.logo(href='/')
        img(src='/images/Crowd-Funding.png', alt='')
      ul#navigation
        li
          a(href='/') home
        li
          a(href='/about') about
        li.selected
          a(href='/funding') funding
        li
          a(href='#') exchange
    #body
      div
        .article
          .projectInfo
            h3 리워드 종류
          .checkProject
            h3
              | 회사 스마트 컨트랙트 확인 (
              a(href='',target ='_blank') smart contract on ethereum explorer
              | )
            p 약 6초의 시간이 소요됩니다. 이러디움 노드를 사용하여 현재 이더리움(rinkeby) 상의 smart contract의 정보를 가져옵니다.
            button#checkGoalBtn 금액 달성도 확인
            #loader
            p#checkGoal 
            h3 환불신청
            p
              | 환불은 매일 오전 9시 자동환불이지만 현재 프로토타입으로 환불 조건이 맞는 경우 환불이 가능합니다.
              br
              | 조건: 목표 날짜를 초과하고 목표금액 달성못하면 환불됩니다.
            button#refundBtn 환불신청
            #loader4
        .fundingArticle
          h3 투자용 스마트 컨트랙트 선택
          p  현재 이더리움(rinkeby) 상의 smart contract의 정보를 가져옵니다.
          select
          button.investorBalance 나의 이더 잔액 확인하기
          #loader
          p#checkBalance => 
          h3 스마트 컨트랙티 비밀번호 입력
          input.fundingPwd(type='password', placeholder='투자하려면 비밀번호를 입력해주세요', style="width:230px;")
          button.fundingBtn 투자하기
          #loader3
          p(style="text-align:center;") 스마트컨트랙트에서 스마트컨트랙트로 거래 됩니다. 약 20초의 시간이 소요됩니다.
    #footer
script.
  var project = "#{project}".split(',');
  var rewardName = "#{rewardName}".split('`');
  var rewardPrice = "#{rewardPrice}".split(',');
  var desc = "#{projectDesc}";
  $('.article').prepend("<img src = '\/"+project[3]+"'/></a>");
  $('.projectInfo').prepend("<p><iframe src='\/"+project[2]+"'</iframe></p>");
  $('.projectInfo').prepend('<p class="gAmount" style="display: inline;">목표금액:'+project[4]+'wei</p>');
  $('.projectInfo').prepend('<p class="gDate" style="display: inline;">목표날짜:'+project[5]+'</p>');
  $('.projectInfo').prepend("<h2>"+project[0]+"</h2>");
  $('.projectInfo').append(rewardName[0]+rewardPrice[0]+"wei <input type='number' placeholder='리워드 갯수'><br>")
  for(var i = 1 ; i < rewardName.length-1; i++){
    $('.projectInfo').append(rewardName[i].substring(1,rewardName[i].length)+rewardPrice[i]+"wei <input type='number' placeholder='리워드 갯수'><br>")
  }  
  $('.checkProject h3 a').attr('href', 'https://rinkeby.etherscan.io/address/'+project[1]);
  var pre = "<option value ='"
  var contractName = "#{contractName}".split(',');
  var addr = "#{contractList}".split(',');
  for(var i = 0 ; i < addr.length && addr[0] != "" ; i++){
    $(".fundingArticle select").append(pre+addr[i]+"'>"+contractName[i]+": "+addr[i]+"</option>");
  }
